LIVEKIT_API_KEY="APIsLkkf8uNVsbm"
LIVEKIT_API_SECRET="AGSSOdjCTSxnn3Wc6LsX4oSfyeyIPNcj5DQdFfCikCRB"
LIVEKIT_URL="wss://benjo-5u7yljcx.livekit.cloud"
SUPABASE_URL=https://yvyerqzfxctqhsgyghta.supabase.co
SUPABASE_KEY=sb_secret_KnLbJ6Y8tJHlheNujvwe2A_o4ogkjPH


TWILIO_ACCOUNT_SID=AC4f8fe9d9a1df5285f9d9250dd97b2b0e
TWILIO_AUTH_TOKEN=f54e9d4a1d72c7cce5df1102e45a2bdd
TWILIO_PHONE_NUMBER=+15076697782

WEBHOOK_BASE_URL="https://demo.twilio.com/welcome/voice/"

OPENAI_KEY=sk-proj-di0yzLi